################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/includes/db/config.php
/includes/db/config_ns.php
